<div class="text-center">

  <div class="btn-group btn-group-toggle align-items-center" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="private-client-radio" autocomplete="off" checked> Private client
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="business-client-radio" autocomplete="off" (change)="radioChangeHandler($event)"> Business client
    </label>
  </div>
  <mat-radio-group>

  </mat-radio-group>
</div>
