<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input [value]="0" [(ngModel)]="loginForm" [checked]="loginForm == 0" type="radio" name="options" id="option2" autocomplete="off"> As business
  </label>
  <label class="btn btn-secondary active">
    <input [value]="1" [(ngModel)]="loginForm" [checked]="loginForm == 1" type="radio" name="options" id="option1" autocomplete="on"> As representative
  </label>
</div>
<div class="text-center purple" *ngIf="loginForm == 0">
  <app-login-business/>
</div>
<div class="text-center red" *ngIf="loginForm == 1">
  <app-login-representative/>
</div>
